@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.header
{
    font-weight: 700;
    text-align: center;
}
input{
    border:none;
    border-bottom: 1px solid #0cbebe;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 50%;
}

.btn
{
    background: #540aff;
    text-align: center;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: .5s;
    font-weight: 700;
    width: 25%;
}

.btn:hover
{
    background: #673fff;
}

.button-group
{
    display: flex;
    justify-content: space-around;
}


input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
    outline: -webkit-focus-ring-color auto 0px;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper
{
    margin: auto;
    width: 50%;
}

.list__item{
    border-top: 1px solid #dfdee0;
    padding: 1rem;
    font-weight: 700;
}

.task-list
{
    margin-top: 25px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.delete
{
    float: right;
    color: #ff4452;
}


.ready
{
    color: #9b9b9b;
    transition: .5s;
    float: right;
    margin-right: 25px;
}

.active{
    color: #00fc67;
}

.btnTask{
    float: right;
    display: flex;
    justify-content: space-around;
    width: 20%;
    color: #bababa;
}

.important{
    color: #ff7a00;

}