.add-task-form__button
{
    width: 120px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #d1d0d7;
    color: #74747a;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.add-task-form__button:hover
{
    background: #212122;
    color: white;
}

.add-task-form
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.add-task-form input {
    border:1px solid #b1b1b1;
    border-radius: 5px;
    padding-left: 5px;
}